
/*! <<bugreport>> macro for SugarCube v2 */
#ui-dialog-body.bugreport #bugreport-info {
	margin-bottom: 1em;
}
#ui-dialog-body.bugreport #bugreport-data {
	background-color: #eee;
	border: 1px solid #111;
	display: block;
	margin: 0;
	padding: 0;
}
#ui-dialog-body.bugreport #bugreport-data > code {
	display: block;
	font-family: monospace, monospace;
	height: auto;
	margin: 0;
	min-height: 200px;
	overflow: auto;
	padding: 0.5em;
	white-space: pre-wrap;
}


/*! <<checkvars>> macro for SugarCube 2.x */
#ui-dialog-body.checkvars{padding:1em}#ui-dialog-body.checkvars h1{font-size:1.5em;margin-top:0}#ui-dialog-body.checkvars table{border-collapse:collapse;border-spacing:0}#ui-dialog-body.checkvars thead tr{border-bottom:2px solid #ccc}#ui-dialog-body.checkvars tr:not(:first-child){border-top:1px solid #ccc}#ui-dialog-body.checkvars td,#ui-dialog-body.checkvars th{padding:.25em 1em}#ui-dialog-body.checkvars td:first-child,#ui-dialog-body.checkvars th:first-child{padding-left:.5em;border-right:1px solid #ccc}#ui-dialog-body.checkvars td:last-child,#ui-dialog-body.checkvars th:last-child{padding-right:.5em}#ui-dialog-body.checkvars th:first-child{text-align:center}#ui-dialog-body.checkvars td:first-child{font-weight:700;text-align:right}#ui-dialog-body.checkvars td{font-family:monospace,monospace;vertical-align:top;white-space:pre-wrap}#ui-dialog-body.checkvars .scroll-pad{margin:0;padding:0}
