{
  "extends": ["standard", "function-call-context"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-var": "warn",
    "no-undef": "off",
    "prefer-template": "warn",
    "no-extra-parens": ["warn", "all", { "nestedBinaryExpressions": false }],
    "object-shorthand": ["warn", "always"],
    "quote-props": ["warn", "consistent-as-needed"],
    "accessor-pairs": "off",
    "function-call-context/call-in-function": [
      "error",
      {
        "functions": ["random", "randomFloat"],
        "methods": ["random", "randomMany", "fm"]
      }
    ]
  }
}
