{
  "extends": ["standard", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "setup": true,
    "random": true,
    "dice": true,
    "State": true,
    "randomFloat": true,
    "clone": true
  },
  "rules": {
    "no-var": "warn",
    "prefer-const": "warn",
    "object-shorthand": ["warn", "always"],
    "react/prop-types": "off"
  }
}
