{
  "extends": ["standard"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-var": "warn",
    "no-undef": "off",
    "prefer-template": "warn",
    "no-extra-parens": ["warn", "all"],
    "object-shorthand": ["warn", "always"],
    "quote-props": ["warn", "consistent-as-needed"]
  }
}
