details summary > * {
  display: inline;
}

details summary { 
  cursor: pointer;
}

@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 250ms ease-in-out;
}

summary::-webkit-details-marker {
  display: none;
}
summary:before {
  content: "+";
  color: var(--header-primary);
  transition: .6s ease-in-out;
  margin-right: 5px;
}

details[open] summary::before { 
  content: "—";
}