/* Default dialog styling */
#ui-overlay {
  background-color: var(--grey-background);
}
#ui-dialog-titlebar {
  text-align: center;
  background-color: var(--background-secondary);
}
#ui-dialog-close:hover {
  background-color: #b44;
  border-color: #a33;
}
#ui-dialog-body {
  background-color: var(--background-tertiary);
  border-color: var(--background-secondary);
}
#ui-dialog-body hr {
  background-color: var(--background-secondary);
}
#ui-dialog-body.restart {
  text-align: center;
  background-color: var(--background-tertiary);
  border-color: var(--background-secondary);
}
/* List-based dialog styling */
#ui-dialog-body.list li:not(:first-child) {
  border-top-color: var(--background-secondary);
}
#ui-dialog-body.list li a {
  color: var(--text-normal);
}
#ui-dialog-body.list li a:hover {
  background-color: var(--background-secondary);
  border-color: var(--text-normal);
}

/* Saves dialog styling */
#ui-dialog-body.saves > *:not(:first-child),
#ui-dialog-body.saves tr:not(:first-child) {
  border-top-color: var(--background-secondary);
  text-align: left;
}
#ui-dialog-body.saves .empty {
  color: var(--background-accent);
  text-align: left;
}

/* Settings dialog styling */
#ui-dialog-body.settings button[id|="setting-control"] {
  color: var(--text-normal);
  border-color: var(--background-secondary);
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
  background-color: var(--background-primary);
  border-color: var(--text-normal);
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
  background-color: var(--interactive-active);
  border-color: var(--interactive-hover);
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
  background-color: var(--interactive-hover);
  border-color: var(--interactive-muted);
}
