
.illustration {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: -2;
}

.illustration.square {
  width: 46%;
  left: 54%;
}

.illustration-buffer {
  padding-bottom: 5vw;
}

html.two-columns .illustration-buffer {
  column-span: all;
}

#illustration-banner {
  column-span: all;
}
