
:root {
  --text-normal: #111;
  --text-muted: #72767d;
  --text-link: #35c;
  --text-link-hover: #57e;
  --header-primary: #58180D;
  --header-secondary: #c9ad6a;
  --interactive-normal: #d5e4d5;
  --interactive-hover: #a4c7a4;
  --interactive-active: #a5c0a5;
  --interactive-muted: #b0c5b0;
  --blockquote-color: #e5e4c1;
  --table-green: #e0e5c1;
  --background-primary: #dedede;
  --background-accent: #dcddb3;
  --background-secondary: #cccccc;
  --background-secondary-alt: #d4c8c8;
  --background-tertiary: #fffde2;
  --background-floating: #e6e6e6;
}

body[data-theme="dark"], body.dark {
  --text-normal: #dcddde;
  --text-link: #7289da;
  --background-primary: #1c1c1e;
  --background-secondary: #333333;
  --background-tertiary: #202020;
  --blockquote-color: #313131;
  --interactive-normal: #3f3f3f;
  --interactive-hover: #6d6d6d;
  --header-primary: #d9534f;
  --header-secondary: #8f896b;
  --interactive-active: #744b4b;
  --interactive-hover: rgb(143, 84, 84);
  --interactive-muted: rgb(97, 30, 30);
  --table-green: #5f6344;
  --background-accent: #966767;

  /* --background-primary: #36393f;
  --background-secondary: #2f3136; */
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-floating: #18191c;
}

body {
  color: var(--text-normal);
  font-family: Bookinsanity;
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 4px;
  background-color: var(--background-primary);
}

.background-image {
  background-image: url("./src/Resources/bottom 0001.png");
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: cover;
  z-index: -10;
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
}

body.dark .background-image {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

#paper {
  /* background-image: url("/src/Resources/0001.png"); */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
  
}

body.dark #paper {
  filter: invert(100%);
}



@media (prefers-color-scheme: dark) {
	body, body[data-theme="dark"], body.dark {
    --text-normal: rgb(199, 199, 204);
    --text-link: #7289da;
    --background-primary: rgb(28, 28, 30);
    --text-normal: rgb(229, 229, 234);
    --background-secondary: rgb(51, 51, 51);
    --background-tertiary: rgb(32, 32, 32);
    --blockquote-color: #2e2e2e;
    --header-primary: #fa817d;
    --header-secondary: #863e3e;
    --interactive-active: #744b4b;
    --interactive-hover: rgb(143, 84, 84);
    --interactive-hover: rgb(97, 30, 30);
    --table-green: #2b2b2b;
    --background-accent: #966767;
	}
}

#illustration {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  transition: 0.2s;
  column-span: all;
  z-index: -2;
}

nav {
  display: inline;
}

summary {
  cursor: pointer;
  /* Stealing from h3 */
  font-size: .529cm;
  margin-bottom: 0em;
  border-bottom: 3px solid var(--header-secondary);
  font-family: MrJeeves;
  font-weight: 800;
  color: var(--header-primary);
}

article {
  cursor: text;
}

#illustration-buffer {
  padding-bottom: 5vw;
}

@font-face {
  font-family: Bookinsanity;
  src: 
    local(Bookinsanity)
}

.force-one-column .passage  {
  column-count: 1;
}

body[data-tags~="force-one-column"] {
  column-count: 1;
}

.error-view[data-tags~="squash-errors"] {
    display: hidden;
}

.force-one-column {
  column-count: 1;
}

#passage-biomegeneration {
  column-count: 1;
}

#passage-townedit {
  column-count: 1;
}

#passage-npcprofileedit {
  column-count: 1;
}


#illustration-banner {
  column-span: all;
}

#passage-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0.4em 0; 
  transition: 180ms ease-out;
  /* background-color: transparent; */
  background-color: var(--background-floating);
  backdrop-filter: opacity(50%) blur(3px);
  overflow: auto;
  white-space: nowrap;
  column-span: all;
}

#passage-header.scrolled {
  margin: 0 -0.6em;
  padding: 0.4em 0.6em;
  background-color: var(--background-primary);
  backdrop-filter: opacity(20%) blur(2px);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 3px solid var(--header-secondary);
  box-shadow: 4px 4px 36px rgb(48 32 0 / 12%);
  z-index: 90;
  /* Subtract the border size */
  padding-bottom: calc(0.4em - 3px);
}

.breadcrumb-link::before {
  content: ">";
  margin: 0.5em;
  font-weight: bold;
  opacity: 0.6;
}

.breadcrumb-link.last {
  color: var(--text-normal);
  font-weight: bold;
}

footer {
  position: relative;
  width: 100%;
  height: 55px;
  bottom: -2em;
  left: 0;
  background-image: url("./src/Resources/footer.png");
  background-size: cover;
  z-index: 5;
  column-span: all;
}

@media (min-width: 360px) {
  .passage {
    columns: 1;
  }
  #illustration-buffer {
    padding-bottom: 20vw;
  }
  #paper {
    top: 15vw
  }
  body {
    font-size: 16px
  }

  blockquote {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
}

@media (min-width: 411px) {
  .passage {
    columns: 1;
  }
  #illustration-buffer {
    padding-bottom: 20vw;
  }
  #paper {
    top: 14vw;
  }
  blockquote {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 17px
  }
  .passage {
    columns: 1;
  }
  blockquote {
      -webkit-margin-start: .5em;
      -webkit-margin-end: .5em;
  }
  #illustration-buffer {
    padding-bottom: 25vw;
  }
  #paper {
    top: 13vw
  }
}

@media (min-width: 576px) {
  body {
    font-size: 17px
  }
  .passage {
    columns: 1;
  }
  blockquote {
      -webkit-margin-start: .5em;
      -webkit-margin-end: .5em;
  }
  #illustration-buffer {
    padding-bottom: 28vw;
  }
  #paper {
    top: 13vw
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px
  }
  .passage {
    columns: 1;
  }
  blockquote {
      -webkit-margin-start: .5em;
      -webkit-margin-end: .5em;
  }
  #illustration-buffer {
    padding-bottom: 35vw;
  }
  #paper {
    top: 13.5vw
  }
}

@media (min-width: 992px) {
  body {
    font-size: 18px
  }
  .passage {
    columns: 2;
    column-fill: auto;
    column-gap: 35px;
    max-width: 60em;
  }  
  #illustration-buffer {
    column-span: all;
    padding: 19vw;
  }
  #paper {
    top: 13vw
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px
  }

  .passage {
    columns: 2;
    column-fill: auto;
    column-gap: 40px;
    max-width: 65em;
  }  
  #illustration-buffer {
    column-span: all;
    padding: 20vw;
  }

  #paper {
    top: 14vw
  }
}
 

.dotted {
	border-bottom: 1px dotted var(--text-normal);
  text-decoration: none;
  cursor: help;
}

.highlight {
  animation-name: highlightFade;
  animation-duration: 4s;
  /* font-family: Bookinsanity;
  font-size: 18px; */
  color: black;
}

@keyframes highlightFade {
  
  from {background-color: #49A758;}
  to {background-color: var(--text-normal);}
}


.npcReplace{
font-family: MrJeeves;
font-weight: 800;
color: var(--header-primary);
font-size: 20px;
text-decoration: underline;
text-decoration-color: var(--header-secondary);
}
.version{
 color: rgba(94, 72, 69, 0.651);
 font-size: 16px;
}
#story-title{
  display: none;
}

img, embed, object, video {
    max-width: 100%;
    min-width: auto;
}

.patreon {
  padding: 1.5em;
  width: 95%;
}
#passages button {
  border-radius: 4px;
}

.first-character {
  float: left;
  font-family: Solbera Imitation;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}


h1, h2, h3, h4, h6 {
margin-top:         .2em;
margin-bottom:      .2em;
font-family:        MrJeeves;
font-weight:        800;
color:              var(--header-primary);
}

/* H1 */

h1 {
column-span:        all;
font-size:          .987cm;
-webkit-column-span:all;
-moz-column-span:   all;
border-bottom:      6px solid var(--header-secondary)
}


/* H2 */

h2 {
font-size:          .705cm;
}


/* H3 */

h3 {
font-size:          .529cm;
margin-bottom: 0em;
border-bottom:      3px solid var(--header-secondary);
}


/* H4 */

h4 {
margin-bottom:      0;
margin-top:      10px;
font-size:          .458cm
}

span.macro-linkreplace-insert {
  margin-top: 0;
  margin-bottom: 10px;
}
/* H5 */

h5 {
margin-bottom:      .2em;
font-family:        ScalySansSmallCaps;
font-size:          .423cm;
font-weight:        900
}


/* H6 */


h6 {
  font-size:          .445cm;
  border-bottom:      1.25px solid var(--header-secondary)
}


/* ### Paragraphs */

/* P */

p {
line-height:        1.75em;}


/* P+P */

p+p {
margin-top:         -0.8em;}


/* Text Indentation */

p+p,
ul+p,
ol+p {
    text-indent:    1em
}


/* Text Decoration */

strong {
    font-weight:    bold;
    letter-spacing: .03em
}
em {
    font-style:     italic
}
sup {
    vertical-align: super;
    font-size:      xx-small;
    line-height:    0
}
sub {
    vertical-align: sub;
    font-size:      smaller;
    line-height:    0
}


/* First Letter after H1 */

h1+p::first-letter {
    float:          left;
    font-family:    Solbera Imitation;
    font-size:      10em;
    color:          var(--text-normal);
    line-height:    .8em
}

blockquote {
    font-family: Scaly Sans;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 5px 10px;
    background-color: var(--blockquote-color);
    border-style: solid;
    border-width: 11px;
    border-image: url("./src/Resources/note-wrap.png") 11;
    border-image-outset: 9px 0;
    box-shadow: 1px 4px 14px var(--background-accent);
}
blockquote em {
    font-family: Scaly Sans;
    font-style: italic
}
blockquote strong {
    font-family: Scaly Sans;
    font-weight: 800;
    letter-spacing: -0.02em
}
blockquote p,
blockquote ul {
    font-size: .352cm;
    line-height: 1.1em
}
pre+blockquote,
h2+blockquote,
h3+blockquote,
h4+blockquote,
h5+blockquote {
    margin-top: 13px
  }
blockquote h5 {
    margin-top: 0
  }

.descriptive {
    display:inline-block;
    margin-bottom:1em;
    background-color:var(--blockquote-color);
    font-family:ScalySans;
    border-style:solid;
    border-width:7px;
    border-image: url("./src/Resources/sidebars.png") 12 round;
    border-image-outset: 4px;
    box-shadow:0 0 6px var(--background-primary);
}
.descriptive p {
    display:block;
    padding-bottom:0;
    line-height:1.5em
}
.descriptive p+p{
    padding-top:.8em
}
.descriptive em{
    font-family:ScalySans;
    font-style:italic
}
.descriptive strong{
    font-family:ScalySans;
    font-weight:800;
    letter-spacing:-0.02em
}
pre+.descriptive{
    margin-top:8px
}

descriptive {
    display:inline-block;
    margin-bottom:1em;
    background-color:var(--blockquote-color);
    font-family:ScalySans;
    border-style:solid;
    border-width:7px;
    border-image: url("./src/Resources/sidebars.png") 12 round;
    border-image-outset:4px;
    box-shadow:0 0 6px var(--background-primary);
}

descriptive p {
  display:block;
  padding-bottom:0;
  line-height:1.5em
}
descriptive p+p{
  padding-top:.8em
}
descriptive em{
  font-family:ScalySans;
  font-style:italic
}
descriptive strong{
  font-family:ScalySans;
  font-weight:800;
  letter-spacing:-0.02em
}
pre+descriptive{
  margin-top:8px
}


table {
    font-family: ScalySans;
    width: 100%;
    margin-bottom: 1em;
    font-size: 10pt;
    line-height: 1.1em;
    table-layout: auto;
}

table.a {
table-layout: auto;
width: 180px;
}
    table em {
        font-family: ScalySans;
        font-style: italic
    }
    table strong {
        font-family: ScalySans;
        font-weight: 800;
        letter-spacing: -0.02em
    }
    table thead {
        font-weight: 800
    }
    table thead th {
        vertical-align: bottom;
        padding-bottom: .3em;
        padding-right: .1em;
        padding-left: .1em
    }
    table tbody tr td {
        padding: .3em .1em
    }
    table tbody tr:nth-child(odd) {
        background-color: var(--table-green)
    }
    tr:nth-child(even) {background-color: var(--table-green);}

    .body:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 55px;
        width: 100%;
        background-image: url("./src/Resources/footer.png");
        background-size: cover;
        column-span: all;
    }
    .body:nth-child(even):after {transform: scaleX(-1)}
    .body:nth-child(even) .pageNumber {left: 2px}
    .body:nth-child(even) .footnote {
        left: 80px;
        text-align: left
    }

/***********************************************************************
	BLEACHED - A largely white style for SugarCube â‰¥v2.23.1
***********************************************************************/

a {
	color: var(--text-link);
}
a:hover {
	color: var(--text-link-hover);
}
span.link-disabled {
	color: var(--background-accent);
}
button {
  margin-top: 20px;
  margin-bottom: 5px;
	color: var(--text-normal);
  background-color: var(--interactive-normal);
  border-width: 2px;
  border-color: var(--interactive-muted);
  border-style: inset;
}
button:hover {
	background-color:var(--interactive-hover);
	border-color: var(--header-secondary);
}
button:disabled {
	background-color: var(--background-muted);
	border-color: var(--background-tertiary);
}
input, select, textarea {
  margin-top: 20px;
	color: var(--text-normal);
  border-color: var(--header-secondary);
  border-width: 2px;
  border-style: inset;
  background-color: var(--background-primary);
}
input:not(:disabled):focus, select:not(:disabled):focus, textarea:not(:disabled):focus,
input:not(:disabled):hover, select:not(:disabled):hover, textarea:not(:disabled):hover {
	/* background-color: rgb(240, 217, 140);
	border-color: rgb(194, 163, 61); */
  background-color: var(--interactive-normal);
  border-color: var(--interactive-hover)
}
hr {
	border-color: rgb(41, 41, 41);
}
input#mce-EMAIL.required.email{
  border-color: rgb(99, 99, 99);
  border-style: solid;
  border-width: 1px;
}
input#mce-EMAIL.required.email:focus,
input#mce-EMAIL.required.email:hover {
  background-color: rgb(238, 238, 238);
}
.error-view {
  display: block;
  background-color: transparent;
  font-size: 16px;
}
.error-view > .error-source:not([hidden]) {
	background-color: rgba(255, 255, 255, 0.2);
}

#ui-bar {
	background-color: var(--background-primary);
  border-right-width: 10px;
  border-right-color: var(--header-secondary);
  border-right-style: double;
}
#ui-bar hr {
	border-color: var(--background-primary);
}
#ui-bar-toggle{
  color: var(--text-normal);
	border-color: var(--background-primary);
}
#ui-bar-history [id|="history"] {
	color: var(--text-normal);
	border-color: var(--background-primary);
}
#ui-bar-toggle:hover,
#ui-bar-history [id|="history"]:hover {
	background-color: var(--background-primary);
	border-color: var(--text-normal);
}
#ui-bar-history [id|="history"]:disabled {
	color: var(--background-primary);
	background-color: transparent;
	border-color: var(--background-primary);
}
#menu ul {
	border-color: var(--background-secondary);
}
#menu li:not(:first-child) {
	border-top-color: var(--background-secondary);
}
#menu li a {
	color: var(--text-normal);
}
#menu li a:hover {
	background-color: var(--background-secondary);
	border-color: var(--text-normal);
}

/* Default dialog styling */
#ui-overlay {
	background-color: var(--background-accent);
}
#ui-dialog-titlebar {
  text-align: center;
	background-color: var(--background-secondary);
}
#ui-dialog-close:hover {
	background-color: #b44;
	border-color: #a33;
}
#ui-dialog-body {
	background-color: var(--background-tertiary);
	border-color: var(--background-secondary);
}
#ui-dialog-body hr {
	background-color: var(--background-secondary);
}
#ui-dialog-body.restart {
  text-align: center;
	background-color: var(--background-tertiary);
	border-color: var(--background-secondary);
}
/* List-based dialog styling */
#ui-dialog-body.list li:not(:first-child) {
	border-top-color: var(--background-secondary);
}
#ui-dialog-body.list li a {
	color: var(--text-normal);
}
#ui-dialog-body.list li a:hover {
	background-color: var(--background-secondary);
	border-color: var(--text-normal);
}

/* Saves dialog styling */
#ui-dialog-body.saves > *:not(:first-child),
#ui-dialog-body.saves tr:not(:first-child) {
  border-top-color: var(--background-secondary);
  text-align: left;
}
#ui-dialog-body.saves .empty {
  color: var(--background-accent);
  text-align: left;
}

/* Settings dialog styling */
#ui-dialog-body.settings button[id|="setting-control"] {
	color: var(--text-normal);
	border-color: var(--background-secondary);
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
	background-color: var(--background-primary);
	border-color: var(--text-normal);
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
	background-color: var(--interactive-active);
	border-color: var(--interactive-hover);
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
	background-color: var(--interactive-hover);
	border-color: var(--interactive-muted);
}

/* Debug bar styling */
#debug-bar,
#debug-bar-watch {
	background-color: var(--background-primary);
	border-color: var(--background-secondary);
}
#debug-bar-watch div {
	color: var(--background-accent);
}
#debug-bar-watch-toggle,
#debug-bar-views-toggle {
	color: var(--text-normal);
	border-color: var(--background-secondary);
}
#debug-bar-watch-toggle:hover,
#debug-bar-views-toggle:hover {
	background-color: var(--background-primary);
	border-color: var(--text-normal);
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle,
html[data-debug-view] #debug-bar-views-toggle {
	background-color: var(--interactive-active);
	border-color: var(--interactive-hover);
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle:hover,
html[data-debug-view] #debug-bar-views-toggle:hover {
	background-color: var(--interactive-hover);
	border-color: var(--interactive-hover);
}

/* Debug view styling */
html:not([data-debug-view]) #debug-view-toggle {
	color: var(--text-normal);
	border-color: var(--background-secondary);
}
html:not([data-debug-view]) #debug-view-toggle:hover {
	background-color: var(--background-primary);
	border-color: var(--text-normal);
}
html[data-debug-view] #debug-view-toggle {
	background-color: var(--interactive-active);
	border-color: var(--interactive-hover);
}
html[data-debug-view] #debug-view-toggle:hover {
	background-color: var(--interactive-hover);
	border-color: var(--interactive-hover);
}
html[data-debug-view] .debug {
	background-color: #dc9;
}
html[data-debug-view] .debug.hidden,
html[data-debug-view] .debug.hidden .debug {
	background-color: #bbb;
}


.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}


@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}

.classTable{
    margin-top:25px;
    margin-bottom:40px;
    border-collapse:separate;
    background-color:var(--background-primary);
    border:initial;
    border-style:solid;
    border-image-outset:25px 17px;
    border-image-repeat:round;
    border-image-slice:150 200 150 200;
    border-image-source: url("./src/Resources/table-wrap.png");
    border-image-width:47px;
}
.classTable h5{
    margin-bottom:10px
}

/*removes link icon from below images */
a.link-external::after {
    visibility: hidden;
    content: "";
}
