.tippy-religion-percentage,
.tippy-races-percentage {
  display: contents;
}

.tip {
  display: inline;
}

.tippy-box[data-animation="perspective"][data-placement^="top"] {
  transform-origin: bottom;
}
.tippy-box[data-animation="perspective"][data-placement^="top"][data-state="visible"] {
  transform: perspective(700px);
}
.tippy-box[data-animation="perspective"][data-placement^="top"][data-state="hidden"] {
  transform: perspective(700px) translateY(8px) scaleY(0.2);
}
.tippy-box[data-animation="perspective"][data-placement^="bottom"] {
  transform-origin: top;
}
.tippy-box[data-animation="perspective"][data-placement^="bottom"][data-state="visible"] {
  transform: perspective(700px);
}
.tippy-box[data-animation="perspective"][data-placement^="bottom"][data-state="hidden"] {
  transform: perspective(700px) translateY(-8px) scaleY(-0.2);
}
.tippy-box[data-animation="perspective"][data-placement^="left"] {
  transform-origin: right;
}
.tippy-box[data-animation="perspective"][data-placement^="left"][data-state="visible"] {
  transform: perspective(700px);
}
.tippy-box[data-animation="perspective"][data-placement^="left"][data-state="hidden"] {
  transform: perspective(700px) translateX(8px) scaleX(-0.2);
}
.tippy-box[data-animation="perspective"][data-placement^="right"] {
  transform-origin: left;
}
.tippy-box[data-animation="perspective"][data-placement^="right"][data-state="visible"] {
  transform: perspective(700px);
}
.tippy-box[data-animation="perspective"][data-placement^="right"][data-state="hidden"] {
  transform: perspective(700px) translateX(-8px) scaleX(0.2);
}
.tippy-box[data-animation="perspective"][data-state="hidden"] {
  opacity: 0.5;
}

.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.tippy-box[data-theme~="descriptive"] {
  color: var(--text-normal);
  font-size: smaller;
  margin-bottom: 0.6em;
  background-color: var(--descriptive-yellow);
  font-family: ScalySans;
  border-style: solid;
  border-width: 6px;
  border-image: url("./static/sidebars.png") 11;
  border-image-outset: 4px;
  box-shadow: 0 0 10px 6px var(--background-accent);
}

.tippy-box[data-theme~="descriptive"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--descriptive-yellow);
}
.tippy-box[data-theme~="descriptive"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--descriptive-yellow);
}
.tippy-box[data-theme~="descriptive"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: var(--descriptive-yellow);
}
.tippy-box[data-theme~="descriptive"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--descriptive-yellow);
}

.tippy-box[data-theme~="descriptive"] > .tippy-arrow::before {
  transform: scale(2);
}

.tippy-box[data-theme~="blockquote"] {
  font-size: smaller;
  font-family: Scaly Sans;
  text-indent: 0%;
  color: var(--text-normal);
  box-sizing: border-box;
  margin-bottom: 0.8em;
  padding: 5px 10px;
  background-color: var(--blockquote-color);
  border-style: solid;
  border-width: 11px;
  border-image: url("./static/note-wrap.png") 11;
  border-image-outset: 9px 0;
}

.tippy-box[data-theme~="blockquote"] > .tippy-arrow::before {
  display: hidden;
}

.tippy-box[data-theme~="blockquote"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--blockquote-color);
}
.tippy-box[data-theme~="blockquote"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--blockquote-color);
}
.tippy-box[data-theme~="blockquote"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: var(--blockquote-color);
}
.tippy-box[data-theme~="blockquote"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--blockquote-color);
}
