
@media (max-width: 410px) {
  .passage {
    columns: 1;
  }
  #illustration-buffer {
    padding-bottom: 20vw;
  }
  #paper {
    top: 20vw
  }
  body {
    font-size: 16px
  }

  blockquote {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
}

@media (min-width: 411px) {
  .passage {
    columns: 1;
  }
  #illustration-buffer {
    padding-bottom: 20vw;
  }
  #paper {
    top: 21vw;
  }
  blockquote {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 17px
  }
  .passage {
    columns: 1;
  }
  blockquote {
      -webkit-margin-start: .5em;
      -webkit-margin-end: .5em;
  }
  #illustration-buffer {
    padding-bottom: 25vw;
  }
  #paper {
    top: 20vw
  }
}

@media (min-width: 576px) {
  body {
    font-size: 17px
  }
  .passage {
    columns: 1;
  }
  blockquote {
      -webkit-margin-start: .5em;
      -webkit-margin-end: .5em;
  }
  #illustration-buffer {
    padding-bottom: 28vw;
  }
  #paper {
    top: 20vw
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px
  }
  .passage {
    columns: 1;
  }
  blockquote {
      -webkit-margin-start: .5em;
      -webkit-margin-end: .5em;
  }
  #illustration-buffer {
    padding-bottom: 35vw;
  }
  #paper {
    top: 20vw
  }
}

@media (min-width: 992px) {
  body {
    font-size: 18px
  }
  .passage {
    columns: 2;
    column-fill: auto;
    column-gap: 35px;
    max-width: 60em;
  }  
  #illustration-buffer {
    column-span: all;
    padding: 19vw;
  }
  #paper {
    top: 19vw
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px
  }

  .passage {
    columns: 2;
    column-fill: auto;
    column-gap: 40px;
    max-width: 65em;
  }  
  #illustration-buffer {
    column-span: all;
    padding: 20vw;
  }

  #paper {
    top: 20vw
  }
}
