:: Story Stylesheet [stylesheet]
/*body
{
  font-family: Bookinsanity;
  font-size: 18px;
  color: black;
}*/

body.output {
  /*background-image: url(https://pre00.deviantart.net/3a51/th/pre/i/2015/198/a/1/phb_background_texture_by_kluckham-d91rf3o.png);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: cover;*/
  background-color: white;
  font-family: Bookos;
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 4px;
  /*color: black;*/
}

h1 {
  font-family: MrJeeves;
  font-size: 37px;
  color: rgb(88, 24, 42);
;
}

h2 {
  font-family: MrJeeves;
  font-size: 26px;
  color: #58182a;
}

h3 {
  font-family: MrJeeves;
  font-size: 19px;
  color: #58180D;
  border-bottom: 2px solid #c9ad6a;
  display: block;
}

h4 {
  font-family: MrJeeves;
  font-size: 17px;
  color: #58180D;
}

h5 {
  font-family: ScalySansSmallCaps;
  font-size: 16px;
  color: black;
}

.firstcharacter {
  float: left;
  font-family: Solbera Imitation;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

blockquote {
    border-style: solid;
    border-width: 2px;
  	background-color: #E0E5C1;
    box-sizing: border-box;
}

descriptive {
  border-style: solid;
  font-family: ScalySans;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 2px;
  border-right-width: 2px;
  background-color: #FAF7EA;
  box-sizing: border-box;
}

a:link {
  color: 58180D;
}

a {
  color: 58180D;
}

/***********************************************************************
	BLEACHED - A largely white style for SugarCube â‰¥v2.23.1
***********************************************************************/
body {
	color: #111;

}
a {
	color: #35c;
}
a:hover {
	color: #57e;
}
span.link-disabled {
	color: #777;
}
button {
	color: #111;
	background-color: #acf;
	border-color: #8ad;
}
button:hover {
	background-color: #8ad;
	border-color: #68b;
}
button:disabled {
	background-color: #ccc;
	border-color: #aaa;
}
input, select, textarea {
	color: #111;
	border-color: #ccc;
}
input:not(:disabled):focus, select:not(:disabled):focus, textarea:not(:disabled):focus,
input:not(:disabled):hover, select:not(:disabled):hover, textarea:not(:disabled):hover {
	background-color: #eee;
	border-color: #111;
}
hr {
	border-color: #111;
}

.error-view {
	background-color: #eaa;
	border-left-color: #d77;
}
.error-view > .error-source:not([hidden]) {
	background-color: rgba(255, 255, 255, 0.2);
}

#ui-bar {
	background-color: #eee;
	border-color: #ccc;
}
#ui-bar hr {
	border-color: #ccc;
}
#ui-bar-toggle,
#ui-bar-history [id|="history"] {
	color: #111;
	border-color: #ccc;
}
#ui-bar-toggle:hover,
#ui-bar-history [id|="history"]:hover {
	background-color: #ccc;
	border-color: #111;
}
#ui-bar-history [id|="history"]:disabled {
	color: #ccc;
	background-color: transparent;
	border-color: #ccc;
}
#menu ul {
	border-color: #ccc;
}
#menu li:not(:first-child) {
	border-top-color: #ccc;
}
#menu li a {
	color: #111;
}
#menu li a:hover {
	background-color: #ccc;
	border-color: #111;
}

/* Default dialog styling */
#ui-overlay {
	background-color: #777;
}
#ui-dialog-titlebar {
	background-color: #ccc;
}
#ui-dialog-close:hover {
	background-color: #b44;
	border-color: #a33;
}
#ui-dialog-body {
	background-color: #fff;
	border-color: #ccc;
}
#ui-dialog-body hr {
	background-color: #ccc;
}

/* List-based dialog styling */
#ui-dialog-body.list li:not(:first-child) {
	border-top-color: #ccc;
}
#ui-dialog-body.list li a {
	color: #111;
}
#ui-dialog-body.list li a:hover {
	background-color: #ccc;
	border-color: #111;
}

/* Saves dialog styling */
#ui-dialog-body.saves > *:not(:first-child),
#ui-dialog-body.saves tr:not(:first-child) {
	border-top-color: #ccc;
}
#ui-dialog-body.saves .empty {
	color: #777;
}

/* Settings dialog styling */
#ui-dialog-body.settings button[id|="setting-control"] {
	color: #111;
	border-color: #ccc;
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
	background-color: #eee;
	border-color: #111;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
	background-color: #9e9;
	border-color: #7c7;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
	background-color: #7c7;
	border-color: #5a5;
}

/* Debug bar styling */
#debug-bar,
#debug-bar-watch {
	background-color: #eee;
	border-color: #ccc;
}
#debug-bar-watch div {
	color: #777;
}
#debug-bar-watch-toggle,
#debug-bar-views-toggle {
	color: #111;
	border-color: #ccc;
}
#debug-bar-watch-toggle:hover,
#debug-bar-views-toggle:hover {
	background-color: #eee;
	border-color: #111;
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle,
html[data-debug-view] #debug-bar-views-toggle {
	background-color: #9e9;
	border-color: #7c7;
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle:hover,
html[data-debug-view] #debug-bar-views-toggle:hover {
	background-color: #7c7;
	border-color: #5a5;
}

/* Debug view styling */
html:not([data-debug-view]) #debug-view-toggle {
	color: #111;
	border-color: #ccc;
}
html:not([data-debug-view]) #debug-view-toggle:hover {
	background-color: #eee;
	border-color: #111;
}
html[data-debug-view] #debug-view-toggle {
	background-color: #9e9;
	border-color: #7c7;
}
html[data-debug-view] #debug-view-toggle:hover {
	background-color: #7c7;
	border-color: #5a5;
}
html[data-debug-view] .debug {
	background-color: #dc9;
}
html[data-debug-view] .debug.hidden,
html[data-debug-view] .debug.hidden .debug {
	background-color: #bbb;
}
/*! <<numberpool>> macro set for SugarCube v2 */
div[id|="numberbox-body"] {
	display: inline-block;
}
div[id|="numberbox-body"] input {
	min-width: 3em;
	width: 3em;
	text-align: center;
   	font-color: black;
}
div[id|="numberbox-body"] button {
	font-family: "tme-fa-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
  	font-color: black;
	text-transform: none;
	line-height: normal;
	speak: none;
	padding: 0.4em 0.6em;
}
div[id|="numberbox-body"] button[id|="numberbox-minus"] {
	margin-right: 0.4em;
}
div[id|="numberbox-body"] button[id|="numberbox-plus"] {
	margin-left: 0.4em;
}

div[id|="numberslider-body"] {
	display: inline-block;
}
div[id|="numberslider-body"] span {
	display: inline-block;
	/*font-size: 1.25em;*/
	margin-left: 0.25em;
	min-width: 3em;
	text-align: center;
	vertical-align: middle;
}
div[id|="numberslider-body"] input {
	-webkit-appearance: none;
	cursor: pointer;
	height: 1.25em;
	min-width: 20em;
	vertical-align: middle;
}
div[id|="numberslider-body"] input:focus {
	outline: none;
}
div[id|="numberslider-body"] input::-webkit-slider-runnable-track {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
div[id|="numberslider-body"] input::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	margin-top: -5px;
	width: 33px;
}
div[id|="numberslider-body"] input:focus::-webkit-slider-runnable-track {
	background: #222;
}
div[id|="numberslider-body"] input::-moz-range-track {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
div[id|="numberslider-body"] input::-moz-range-thumb {
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	width: 33px;
}
div[id|="numberslider-body"] input::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
	cursor: pointer;
	height: 10px;
	width: 99%; /* fallback for MS browsers without support for calc() */
	width: calc(100% - 1px);
}
div[id|="numberslider-body"] input::-ms-fill-lower {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
}
div[id|="numberslider-body"] input::-ms-fill-upper {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
}
div[id|="numberslider-body"] input::-ms-thumb {
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 16px;
	width: 33px;
}

/*! <<bugreport>> macro for SugarCube v2 */
#ui-dialog-body.bugreport #bugreport-info {
	margin-bottom: 1em;
}
#ui-dialog-body.bugreport #bugreport-data {
	background-color: #eee;
	border: 1px solid #111;
	display: block;
	margin: 0;
	padding: 0;
}
#ui-dialog-body.bugreport #bugreport-data > code {
	display: block;
	font-family: monospace, monospace;
	height: auto;
	margin: 0;
	min-height: 200px;
	overflow: auto;
	padding: 0.5em;
	white-space: pre-wrap;
}


/*! <<checkvars>> macro for SugarCube 2.x */
#ui-dialog-body.checkvars{padding:1em}#ui-dialog-body.checkvars h1{font-size:1.5em;margin-top:0}#ui-dialog-body.checkvars table{border-collapse:collapse;border-spacing:0}#ui-dialog-body.checkvars thead tr{border-bottom:2px solid #ccc}#ui-dialog-body.checkvars tr:not(:first-child){border-top:1px solid #ccc}#ui-dialog-body.checkvars td,#ui-dialog-body.checkvars th{padding:.25em 1em}#ui-dialog-body.checkvars td:first-child,#ui-dialog-body.checkvars th:first-child{padding-left:.5em;border-right:1px solid #ccc}#ui-dialog-body.checkvars td:last-child,#ui-dialog-body.checkvars th:last-child{padding-right:.5em}#ui-dialog-body.checkvars th:first-child{text-align:center}#ui-dialog-body.checkvars td:first-child{font-weight:700;text-align:right}#ui-dialog-body.checkvars td{font-family:monospace,monospace;vertical-align:top;white-space:pre-wrap}#ui-dialog-body.checkvars .scroll-pad{margin:0;padding:0}

/*body {
  font-family: Bookos;
  font-size: 18px;
  font-color: black;
}
h1 {
    color: black;
}
body.output {
  background-image:
url(https://pre00.deviantart.net/3a51/th/pre/i/2015/198/a/1/phb_background_texture_by_kluckham-d91rf3o.png);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  background-color: white;
  font-family: Bookos;
  font-size: 18px;
  font-color: black;
}

p {
    border: 1px solid black;
    outline-style: solid;
    outline-color: black;
}
*/
